.form {
    width: 872px;
    height: 562px;

    border-radius: 8px;
    background: var(--Primary-PIA---primary-white, #FFF);
}

.formTitle {
    color: var(--Primary-PIA---primary-text, #202124);

    /* Title/Title - Small */
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: 0.48px;
}

.formContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.programNameLabel {
    color: var(--Neutral-Gray4, #909090);
    text-align: center;
    
    /* Body/Medium (Regular) */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.programNameInput {
    color: var(--Primary-PIA---primary-text, #202124);

    /* Body/Medium (Regular) */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.programAbbrLabel {
    color: var(--Neutral-Gray4, #909090);

    /* Body/Medium (Regular) */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.programAbbrInput {
    color: var(--Primary-PIA---primary-text, #202124);

    /* Body/Medium (Regular) */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.programTypeLabel {
    color: var(--Neutral-Gray4, #909090);
    text-align: center;
    
    /* Body/Medium (Regular) */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.programTypeSelected {
    display: flex;
    width: 144px;
    height: 48px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    border-radius: 0px 4px 4px 0px;
    border-top: 1px solid var(--Neutral-Gray4, #909090);
    border-right: 1px solid var(--Neutral-Gray4, #909090);
    border-bottom: 1px solid var(--Neutral-Gray4, #909090);
    background: rgba(255, 255, 255, 0.00);
}

.programTypeUnselected {
    display: flex;
    width: 144px;
    height: 48px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;

    border-radius: 0px 4px 4px 0px;
    border-top: 1px solid var(--Neutral-Gray4, #909090);
    border-right: 1px solid var(--Neutral-Gray4, #909090);
    border-bottom: 1px solid var(--Neutral-Gray4, #909090);
    background: rgba(255, 255, 255, 0.00);
}

.programDateLabel {
    color: var(--Neutral-Gray4, #909090);

    /* Body/Medium (Regular) */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.programDateInput {
    display: inline-flex;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    border: 1px solid var(--Neutral-Gray4, #909090);
    background: var(--Neutral-Gray0, #F3F3F3);
}

.programDateIcon {
    width: 20px;
    height: 20px;
}

.programDateDate {
    flex: 1 0 0;

    color: var(--Primary-PIA---primary-text, #202124);

    /* Body/Medium (Regular) */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.programColorContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.programColorLabel {
    color: var(--Neutral-Gray4, #909090);
    text-align: center;
    
    /* Body/Medium (Regular) */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.programColorOptionsContainer {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.programColorOptionTeal {
    width: 40px;
    height: 40px;

    fill: var(--secondary-pia-secondary-teal-4-fa-197, #4FA197);
    stroke-width: 1px;
    stroke: var(--Neutral-Gray4, #909090);
}

.programColorOptionYellow {
    width: 40px;
    height: 40px;

    fill: var(--secondary-pia-secondary-yellow-ffb-800, #FFB800);
    stroke-width: 1px;
    stroke: var(--Neutral-Gray4, #909090);
}

.programColorOptionRed {
    width: 40px;
    height: 40px;

    fill: var(--secondary-pia-secondary-red-ff-7-a-5-e, #FF7A5E);
    stroke-width: 1px;
    stroke: var(--Neutral-Gray4, #909090);
}

.programColorOptionGreen {
    width: 40px;
    height: 40px;

    fill: var(--secondary-pia-secondary-green-b-6-bf-0-e, #B6BF0E);
    stroke-width: 1px;
    stroke: var(--Neutral-Gray4, #909090);
}