.main {
  height: fill;
  overflow-y: scroll;
}

.main::-webkit-scrollbar {
  display: none;
}

.cards {
  padding-left: 20px;
  padding-right: 20px;
  height: 80%;
  max-width: 2000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: max(20px, min(40px, 5vw));
}

.header {
  padding: 20px;
  padding-top: max(0px, min(32px, 3.75vw - 16px));
  padding-bottom: max(16px, min(32px, 3.75vw));
  display: flex;
  flex-direction: row;
}

.title {
  font-size: max(24px, min(40px, 3.75vw));
  float: right;
}

.spacer {
  flex-grow: 1;
}

.group {
  flex-direction: column;
  padding-top: max(6px, min(10px, 1vw));
}

.addTask {
  vertical-align: text-bottom;
  top: 100px;
  border-radius: 1.5rem;
  font-size: max(10px, min(16px, 1.56vw));
  height: max(24px, min(48px, 3.75vw));
  padding-left: max(10px, min(24px, 1.88vw));
  padding-right: max(10px, min(24px, 1.88vw));
}
